header{

    background-color: rgb(113, 190, 113);
}





body{
font-style: italic; 
font-size: large;
color: bisque;
background-color: rgb(113, 190, 113);
border-style: double;
border-color: antiquewhite;
border-width: 10px;
text-align: center;
}
h2 {
background-color: rgb(61, 151, 61);

    color: rgb(230, 234, 230);

}
h3{
 background-color: chartreuse;
color: black;
}
